/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
    font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 125%;
}

.container p {
    color: #6c6c6c;
    text-align: left;
    margin: 10px 0 0 0;
}

.container.header
{
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 25%,#dbd9e3 100%);
    background-repeat: repeat-x;
    border-bottom: solid 1px #e7ecf1;
}
.container.header p
{
    margin-top: 0;
    line-height: 108px;
}

.container.header .nav-link p
{
    text-align: center;
    font-size: 133%;
}

.container.header .logo img
{
    vertical-align:middle;
}

.container.banner
{
    background: -webkit-linear-gradient(top, #265185 0%,#0e76bc 100%);
}


.container.banner p
{
    margin-top: 0;
    line-height: 339px;
}


.container.content
{
    border-top: solid 1px #318dc6;
    background: -webkit-linear-gradient(top, #dbd9e3 0%,#fff 100%);
}


.container.content p
{
}

.container.content section
{
    margin-top: 60px;
}


.container.footer section
{
    margin-top: 30px;
}

.container.content {
    margin-bottom: 60px;
}

.container.footer {
}

.container.content section.twitter .twitter-logo,
.container.content section.blog .blog-logo
{
    padding-left: 40px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}


.container.content section.twitter .twitter-logo
{
    background-image: url(../images/twitter_icon_1.png);
}


.container.content section.blog .blog-logo
{
    background-image: url(../images/blog_icon_1.png);
}

.container section header h2
{
    font-size: 125%;
    line-height: 125%;
}

.container.content section article
{
    margin-top: 10px;
}

.container section article h3
{
    font-style: italic;
    font-size: 105%;
    line-height: 105%;
}


.container.content header, .container.footer header
{
    background-position: bottom;
    background-image: url(../images/line.png);
    background-repeat: repeat-x;
}

.container.content section header p
{
    margin-top: 0;
    color: #696969;
}

.container.content p.readmore
{
    padding-left: 20px;
    background: url(../images/arrow.png) no-repeat left top;
    font-weight: bold;
}

.container.footer
{
    background: url(../images/footer_background.png) repeat-x left top;
}

.container.footer header h2
{
    color: #265185;
}

.footer nav ul li, .footer address ul li
{
    list-style-type: none;
}

.footer ul {
    margin-top: 10px;
}

.container.footer header
{
    padding-bottom: 10px;
}

address ul li
{
    font-style: normal;
    padding-left: 30px;
}

address .companyname
{
    font-size: 110%;
    font-weight: bold;
    padding: 0 0 10px 30px;
}

address .address
{
    background: url(../images/marker.png) no-repeat left 50%;
}

address .phone
{
    background: url(../images/phone.png) no-repeat left 50%;
}

address .email
{
    background: url(../images/mail.png) no-repeat left 50%;
}

.container.footer
{
    margin-bottom: 40px;
}

	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}